
#root {
  margin: 0;
  text-align: center;
}

input[type="checkbox"]:checked {
  background-image: url('/src/assets/tick.svg');
  background-position: center;
  background-size: 96%;
  background-repeat:no-repeat;
  color: #430199;
}

input[type="radio"]:checked {
  background-image: url('/src/assets/tick.svg');
  background-position: center;
  background-size: 96%;
  background-repeat:no-repeat;
  color: #430199;
}
